// Place all the styles related to the Repos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  margin-bottom: 15px;
  .card-title{

    .label{
      font-size: 1rem;
      color: #666666;
    }
  }

}
.list-group-item {
  border: none;
}
