
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <%= link_to "MobiDev", root_path, class: 'navbar-brand' %>
    <ul class="navbar-nav">
      <%= render 'layouts/search_field' %>
      <%= render 'layouts/nav_links_for_auth' %>
    </ul>

  </nav>
  